// importar desde src/styles/_variables.scss
@import "./src/styles/_variables.scss";
@import "./src/styles/Contact.scss";
@import "./src/styles/Events.scss";
@import "./src/styles/Footer.scss";
@import "./src/styles/Gallery.scss";
@import "./src/styles/Header.scss";
@import "./src/styles/Music.scss";
@import "./src/styles/Nav.scss";

html {
  scroll-behavior: smooth;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background-color: $color-primary;
  color: whitesmoke;
}
