@import "variables";
.gallery {
  padding: 6vh 20vw;
  max-width: 100vw;
  margin: auto;
  background-color: $color-primary;

  .images {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    img {
      width: 30%;
      margin: 1.5%;
      border-radius: 5px;
    }
  }
}
