.gallery {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;

  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      width: 30%;
      margin: 1.5%;
      border-radius: 5px;
    }
  }
}
