@import "_variables.scss";

.music {
  margin-top: 10vh;
  padding: 6vh 20vw;
  max-width: 100vw;
  margin: auto;
  background-color: $color-primary;

  iframe {
    width: 100%;
    height: 300px;
    border: none;
  }
}
